{% extends '_layout.html' %}

{% block title %} Aide {% endblock %}

{% block content %}
<div class="container">
    <h1>Bienvenue sur la page d'aide</h1>
    <p>Vous trouverez ici des informations utiles pour utiliser notre application.</p>
    <h2>FAQ</h2>
    <ul>
        <li><strong>Question:</strong> Comment puis-je me connecter ?</li>
        <li><strong>Réponse:</strong> Vous pouvez vous connecter en utilisant vos identifiants de compte.</li>
        <li><strong>Question:</strong> Où puis-je trouver mes factures ?</li>
        <li><strong>Réponse:</strong> Vos factures sont accessibles dans la section "Mon compte" de l'application.</li>
    </ul>
    <h2>Contactez-nous</h2>
    <p>Si vous ne trouvez pas les réponses à vos questions ici, n'hésitez pas à nous contacter.</p>
    <p><a href="mailto:hedirzraga8@gmail.com" class="btn btn-primary">Nous contacter</a></p>
</div>
{% endblock %}